.hlmDashboardPage
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%; 
    padding: 100px;
}

.hlmDashboardPage h1{
    color: black;
    font-size: 24px;
    padding-bottom: 30px;
    font-weight: 700;
    width: auto;
    text-align: center;
}

.hlmDPbuttons{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 20px;
}

.hlmDPbuttons p{
    font-size: 18px;
    color: #3662E3;
    margin-top: 20px;
    text-align: center;
}


.hawkerApplicationsbutton, .inspectionsReportsbutton, .manageHawkerAccountsbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    border: 1px solid #DEE9FC;
    border-radius: 10px;
    cursor: pointer;
    width: 350px;
    height: 380px;
    background: white;
    transition: all 0.2s ease;
}

.hawkerApplicationsbutton:hover, .inspectionsReportsbutton:hover, .manageHawkerAccountsbutton:hover {
    outline: 1px solid rgb(0, 64, 238);
    border: 1px solid rgb(0, 64, 238);
    text-decoration: none;
}

.hawkerApplicationsbutton img, .inspectionsReportsbutton img, .manageHawkerAccountsbutton img{
    width: 145px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 20px;
}

